:host-context(.test) {
}

:host {
}

::ng-deep {
  a {
  }
}

/deep/ {
  a {
  }
}

@apply ()

>>> {
  a {
  }
}

tabbed-custom-element:dir(rtl),
tabbed-custom-element:has(a > img),
tabbed-custom-element:host-context(asd),
tabbed-custom-element:host(asd, asdas) a:lang(en-US),
tabbed-custom-element:nth-child(-n + 3),
tabbed-custom-element:nth-last-child(-n + 3),
tabbed-custom-element:nth-last-of-type(-n + 3),
tabbed-custom-element:nth-of-type(-n + 3),
tabbed-custom-element:nth-last-of-type(-n + 3),
tabbed-custom-element::slotted(span) {
}

html,
body {
  height: 100%;
  background-color: white;
}
a > b {
  display: inline;
}

a + b {
  display: inline;
}

a ~ c {
}

#GridPage {
  background-color: white;
}

.Container {
  min-height: 2%;
  min-width: 2%;

  overflow-x: auto;
  overflow-y: auto;

  position: relative;
  margin: 0 auto;
  border: black;
}

.mat-header-cell,
.mat-cell {
  min-width: 15px;
}

.mat-header-cell {
  background-color: #3f51b5;
  color: white !important;
  font-size: larger !important;
}

.mat-row {
  &:hover {
    background-color: whitesmoke !important;
  }
}

.filter-notice {
  width: 90%;
  display: block;
  padding-right: 15px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;

  :host-context(.test) {
  }

  :host {
  }

  ::ng-deep {
    a {
    }
  }

  /deep/ {
    a {
    }
  }

  >>> {
    a {
    }
  }

  b.clear-filters {
    float: right;
    cursor: pointer;
    transition: 0.15s ease-in-out color;

    &:hover {
      opacity: 0.65;
    }

    mat-icon {
      float: right;
      margin-top: -1px;
    }
  }
}

.filter-criteria {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-weight: bold;
  font-style: italic;
  font-size: 10pt;
  color: #888;
}

.search-wrapper {
  mat-divider {
    width: 20px;
  }

  mat-form-field {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;

    mat-icon {
      width: 2%;
      font-size: 15pt;
      vertical-align: middle;
    }
  }
}

td {
  &.has-img {
    text-align: center;
  }

  img {
    cursor: pointer;
    height: auto;
    width: 20px;
    vertical-align: bottom;
  }
}
